# Flutter / Dart
.dart_tool/
.packages
.buildlog/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
*.jks

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store

# Logs
*.log
*.swp
*.lock

# Environment
.env

